@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.background-image {
	margin:0;
	position:fixed;
}

html, body {
	font-family:"Space Grotesk";
	background: black;
}

h1 {
	position:fixed;
	top:0;left:17;
	color:black;
}

h2 {
	color:white;
}

h3 {
	color:black;
}

em:hover {
	background:white;
	color:black;

}

p:hover {
	color:black
}

li:hover {
	color:black
}

mark {
	background:white;
	color:black;

}

mark:hover {
	background:black;
	color:white;

}

p {
	color:white;
}

li {
	margin-bottom:0px;
	color:white;
}


a:link {
	position:fixed;
	top:20;right:17;
	color:black;
  }

a:hover {
	position:fixed;
	top:20;right:17;
	color:white;
  }

a:visited {
	position:fixed;
	top:20;right:17;
	color:black;
  }

a:active {
	position:fixed;
	top:20;right:17;
	color:black;
  }

.menu {
	background:rgba(170,0,0,1);	
	position:fixed;
	top:0;left:0;
	width:100%;
	height:70px;
	cursor:pointer;
	color:#FFF;
}

.menu.open {
	height:100vh;
}


.menu:hover {
	background:rgba(255,0,0,0.5);	
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container {		
	margin-top:70px;
	margin-bottom:0px;
	margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.square {
	background:white;
	height:13.5vw;
	border:2px solid white;
	box-sizing:border-box;
	padding:1em;
}

.double {
	grid-column: span 2;
}



.shapeShift {
	border-radius:50%;
	background:indigo;
}

